html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#full-size {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.grid-container {
    display: grid;
}

.left-column {
    grid-column: 1 / span 5;
    background-color: #6C63FF;
}

.right-column {
    grid-column: 6 / span 12;
    background-color: white;
}

#back-button {
    margin-top: 3em;
    margin-left: 3em;
}

#back-button:hover {
    cursor: pointer;
}

#book-cover {
    left: 10%;
    height: 80%;
    margin: 5%;
    position: absolute;
}

#book-column {
    width: 60%;
    height: 80%;
    margin: auto;
}