html, body {
    margin: 0;
    font-family: "Segoe UI", Arial, Calibri, "Roboto Light", serif;
    min-height: 100vh;
    width: 100%;
}

#book_details_page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

/*
    Layout & Size
*/

.center {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.hide, .hidden {
    display: none;
}

.min-h-100vh {
    min-height: 100vh;
}

.height-max {
    height: 100%;
}

.width-max {
    width: 100%;
}

.height-max-finite {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
}

.width-max-finite {
    width: 100%;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-start {
    display: flex;
    justify-content: start;
}

.stack {
    display: grid;
}

.stack > * {
    grid-row: 1;
    grid-column: 1;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.cross-stretch {
    align-items: stretch;
}

.cross-center {
    align-items: center;
}

.cross-start {
    align-items: start;
}

.main-space-between {
    justify-content: space-between;
}

.main-space-2.column > * {
    margin-bottom: 2em;
}

.main-space-2.column > *:last-child {
    margin-bottom: 0;
}

.main-space-2.row > * {
    margin-right: 2em;
}

.main-space-2.row > *:last-child {
    margin-right: 0;
}

.main-space-4.column > * {
    margin-bottom: 4em;
}

.main-space-4.column > *:last-child {
    margin-bottom: 0;
}

.main-space-4.row > * {
    margin-right: 4em;
}

.main-space-4.row > *:last-child {
    margin-right: 0;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.box-fit-cover {
    object-fit: cover;
}


.w-1 {
    width: 1em;
}

.w-2 {
    width: 2em;
}

.w-4 {
    width: 4em;
}

.w-8 {
    width: 8em;
}

.w-16 {
    width: 16em;
}

.w-20 {
    width: 20em;
}

.h-2 {
    height: 2em;
}

.h-3 {
    height: 3em;
}

.h-4 {
    height: 4em;
}

/**

    Padding & Margin

 */

.p-0 {
    padding: 0em;
}

.p-1 {
    padding: 1em;
}

.pt-0-5 {
    padding-top: 0.5em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-4 {
    padding-top: 4em;
}

.pt-6, .pv-6 {
    padding-top: 6em;
}

.pr-0-5, .ph-0-5 {
    padding-right: 0.5em;
}

.pr-1, .ph-1 {
    padding-right: 1em;
}

.pr-4, .ph-4 {
    padding-right: 4em;
}

.pr-6, .ph-6 {
    padding-right: 6em;
}

.pl-1, .ph-1 {
    padding-left: 1em;
}

.pl-4, .ph-4 {
    padding-left: 4em;
}

.pl-6, .ph-6 {
    padding-left: 6em;
}

.pb-2, .pv-2 {
    padding-bottom: 2em;
}

.pb-4, .pv-4 {
    padding-bottom: 4em;
}

.pb-6, .pv-6 {
    padding-bottom: 6em;
}

.mt-0, .m-0 {
    margin-top: 0em;
}

.mt-0-5 {
    margin-top: 0.5em;
}

.mt-1, .mv-1 {
    margin-top: 1em;
}

.mt-2, .mv-2 {
    margin-top: 2em;
}

.mt-3, .mv-3 {
    margin-top: 3em;
}

.mt-4, .mv-4 {
    margin-top: 4em;
}

.mt-6, .mv-6 {
    margin-top: 6em;
}

.mb-0, .mv-0, .m-0 {
    margin-bottom: 0;
}

.mb-1, .mv-1 {
    margin-bottom: 1em;
}

.mb-2, .mv-2 {
    margin-bottom: 2em;
}

.mb-6, .mv-6 {
    margin-bottom: 6em;
}

.mr-0, .mh-0, .m-0 {
    margin-right: 0;
}

.mr-0-5, .mh-0-5 {
    margin-right: 0.5em;
}

.mr-1, .mh-1 {
    margin-right: 1em;
}

.mr-3, .mh-3 {
    margin-right: 3em;
}

.mr-4, .mh-4 {
    margin-right: 4em;
}

.ml-0, .mh-0, .m-0 {
    margin-left: 0;
}

.ml-0-5, .mh-0-5 {
    margin-left: 0.5em;
}

.ml-1, .mh-1 {
    margin-left: 1em;
}

.ml-3, .mh-3 {
    margin-left: 3em;
}

.ml-4, .mh-4 {
    margin-left: 4em;
}


/*
    Corners
 */

.rounded-0-5 {
    border-radius: 0.5em;
}

.rounded-1 {
    border-radius: 1em;
}

.rounded-2 {
    border-radius: 2em;
}

/*
    Colors
*/

.color-primary {
    color: #6C63FF;
}

.bg-primary {
    background-color: #6C63FF;
}

.bg-light-primary {
    background-color: #F7F6FF;
}

.bg-white {
    background-color: #FFFFFF;
}

/*
    Text
*/

.text-center {
    text-align: center;
}

.text-compact {
    line-height: 1;
}

.text-tiny {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-normal {
    font-size: 16px;
}

.text-md {
    font-size: 20px;
}

.text-color {
    color: #393939;
}

.text-white {
    color: #FFFFFF;
}

.text-success {
    color: #00d554;
}

.text-failed {
    color: #ff6c45;
}

.text-bold {
    font-weight: bold;
}


/*
    Shapes
 */

.circle {
    border-radius: 50%;
}

/*
    Borders & outlines
 */

.border-0 {
    border-width: 0;
}

.no-border {
    border: none;
}

.no-outline {
    outline: none;
}


/*
    Textarea
 */

.no-resize {
    resize: none;
}

/*
    Elevation
 */

.elevation-1 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}


/*
    Buttons
 */

/* icon button */

.icon-btn {
    cursor: pointer;
}

.animate-icon-btn {
    cursor: pointer;
    display: grid;
}

.animate-icon-btn > .active-icon,
.animate-icon-btn > :not(.active-icon) {
    transition: all .35s ease-in-out;
    grid-column: 1;
    grid-row: 1;
}

.animate-icon-btn:not(.active) > .active-icon {
    transform: rotate(90deg) scale(0);
    opacity: 0;
}

.animate-icon-btn.active > :not(.active-icon) {
    transform: rotate(-90deg) scale(0);
    opacity: 0;
}

/* text button */
.text-button {
    border-width: 0;
    border-radius: 0.5em;
    color: #FFFFFF;
    background-color: #6C63FF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    cursor: pointer;
}

.text-button:hover {
    background-color: #7a72ff;
}

.text-button:active {
    box-shadow: none;
}

.text-button:disabled {
    background-color: #dcdbff;
    box-shadow: none;
    cursor: default;
}

/***************/

/*
    Cursor
 */

.cursor-pointer {
    cursor: pointer;
}


/*
    Loaders
 */

/* Loader 4 */
.loader-4::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-4-1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader-4-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.loader-4 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    -webkit-animation: loader-4-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-4-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-4-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-4-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-4 span::before,
.loader-4 span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-4-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-4-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-4-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(-16px, 0, 0) scale(.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(-16px, 0, 0) scale(.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-4 span::after {
    -webkit-animation: loader-4-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-4-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-4-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(16px, 0, 0) scale(.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(16px, 0, 0) scale(.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

/* Loader 6 */
.loader-6 {
    height: 32px;
    width: 32px;
}

.loader-6 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
}

.loader-6 span::before,
.loader-6 span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    border: 2px solid #FFF;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
    animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
}

@-webkit-keyframes loader-6-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.5);
        opacity: 0;
    }
}

@keyframes loader-6-1 {
    0% {
        transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1.5);
        opacity: 0;
    }
}

.loader-6 span::after {
    -webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
    animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
}

@-webkit-keyframes loader-6-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 0;
    }
}

@keyframes loader-6-2 {
    0% {
        transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 0;
    }
}

.loader4-color-primary::after {
    background: #6C63FF;
}

.loader4-color-primary span::before,
.loader4-color-primary span::after {
    background: #6C63FF;
}