.manage-books{

}

.manage-users{

}

.list{
    display: table-cell;
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    box-shadow:  1px 1px 3px 3px #cccccc;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.list-header{
    height: 100px;
    width: 2000px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.list-title{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100px;
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: lighter;
    font-family: Candara;
}

.list-item{
    display: inline-flex;
    line-height: 1.1em;
    width: 100%;
    margin-top: 1px;
    border-bottom: solid 3px lightgray;

}

.data{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    margin-left: 5px;
    height: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}

.data::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.search{
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 20px;
    background-color: #eeeeef;
    height: 100%;
    width: 100%;
    color: gray;
    border: none;
    offset: none;
}



