image{
    height: 100%;
    width: 100%;
}

.book-title{
    font-weight: bold;
    font-size: 20px;
}

.book-desc{
    font-size: 13px;
}

.boxes {
    padding: 15px;
    display: inline-table;
    float: left;
}

rect.btn {
    z-index: 2;
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
}

rect.btn:hover {
    fill: aqua;
    fill-opacity: 0.1;
    animation: backwards;
}

.heart{
    z-index: 3;
    display: inline-block;
    position: relative;
    right: 50px;
    bottom: 85px;
}

.b:hover{
    fill: red;
    stroke: white;
}